body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 20px;
    width: 1600px;
    height: 1100px;
    margin: auto;
    margin-top: 50px;
}

#element{
    margin: auto;
    width: 1300px;
    height: 1000px;
    padding-top: 130px;
    color: white;
}

.logo{
    width: 300px;
}

header, nav, #title{
    text-align: center;
    color: #00db00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: #00db00;
    width: 1300px;
    margin: auto;
    height: 35px;
    padding-top: 15px;
}

main{
    width: 1300px;
    margin: auto;
}

.row-top, .row-mid, .row-bottom{
    display: inline-block;
    width: 1300px;
    font-size: 20px;
    line-height: 2px;
}

.row-mid:before{
    content: "\2192";
}

.Lime1, .Lime2, .Lime3{
    height: 120px;
    padding-top: 50px;
    font-size: 35px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
}

.carica-lime1{
    height: 30px;
    width: 500px;
    margin: 0;
    color: #bdb104;
    background-color: #bdb104;
    border: 0;
    border-radius: 10px;
}

.carica-lime2{
    height: 30px;
    width: 900px;
    margin: 0;
    color: #009600;
    background-color: #009600;
    border: 0;
    border-radius: 10px;
}

.carica-lime3{
    height: 30px;
    width: 100px;
    margin: 0;
    color: #db0000;
    background-color: #db0000;
    border: 0;
    border-radius: 10px;
}